flows.json
[{"id":"1789985d.2b1c18","type":"tab","label":"Main","disabled":false,"info":""},{"id":"7ffdf7fa.81e658","type":"tab","label":"Greenhouse assistant","disabled":false,"info":""},{"id":"83764853.043968","type":"mqtt-broker","name":"influx","broker":"127.0.0.1","port":"8086","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9adc2647.a5a658","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"77a1f647.d675d8","type":"ui_tab","name":"outside","icon":"dashboard","disabled":false,"hidden":false},{"id":"2d9597e5.d95e98","type":"influxdb","hostname":"172.17.0.1","port":"8086","protocol":"http","database":"db","name":"weather","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":false},{"id":"145e430e.dfc88d","type":"influxdb","hostname":"172.17.0.1","port":"8086","protocol":"http","database":"db","name":"influxdb","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"d05e358f.8ee068","type":"ui_group","name":"Greenhouse","tab":"9d58e56d.c2a468","order":1,"disp":true,"width":"6","collapse":false},{"id":"9d58e56d.c2a468","type":"ui_tab","name":"inside","icon":"dashboard","disabled":false,"hidden":false},{"id":"2460e445.68af4c","type":"mqtt-broker","name":"hiveMQ","broker":"0784feee8a834b3aa62a8445966adf72.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dcb76569.a9c668","type":"mqtt in","z":"1789985d.2b1c18","name":"weather","topic":"kpi/iot/hackathon2021/greenhouse/weather2","qos":"2","datatype":"utf8","broker":"2460e445.68af4c","x":90,"y":120,"wires":[["7a4cbe53.760ae","929f3b9b.c43f38"]]},{"id":"2d52e31d.02ed4c","type":"mqtt in","z":"1789985d.2b1c18","name":"plant","topic":"kpi/iot/hackathon2021/greenhouse/plant2","qos":"2","datatype":"utf8","broker":"2460e445.68af4c","x":70,"y":360,"wires":[["7e665f1f.88dcc"]]},{"id":"7e665f1f.88dcc","type":"json","z":"1789985d.2b1c18","name":"","property":"payload","action":"obj","pretty":false,"x":230,"y":360,"wires":[["ce31ae21.ef5d6","c95a095d.7170a8","c459a1c8.10889"]]},{"id":"7a4cbe53.760ae","type":"json","z":"1789985d.2b1c18","name":"","property":"payload","action":"obj","pretty":false,"x":230,"y":120,"wires":[["705c956a.e8d7bc","b8b0d619.b2c028"]]},{"id":"a33b6f4e.7fdca","type":"function","z":"1789985d.2b1c18","name":"set outside_temp","func":"global.set(\"OutTemp\", msg.payload.main.temp)","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":240,"wires":[[]]},{"id":"fc0f144a.f54468","type":"inject","z":"1789985d.2b1c18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":240,"wires":[["929f3b9b.c43f38"]]},{"id":"929f3b9b.c43f38","type":"http request","z":"1789985d.2b1c18","name":"out-temp","method":"GET","ret":"obj","paytoqs":"body","url":"http://api.openweathermap.org/data/2.5/weather?units=metric&q=kosice,sk&appid=0680e58b550fbd19c068bbaaca5da7d8","tls":"","persist":false,"proxy":"","authType":"","x":280,"y":240,"wires":[["a33b6f4e.7fdca"]]},{"id":"57ef5673.a6ae38","type":"debug","z":"1789985d.2b1c18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":120,"wires":[]},{"id":"705c956a.e8d7bc","type":"function","z":"1789985d.2b1c18","name":"get outside_temp","func":"msg.payload.outside_temperature = global.get(\"OutTemp\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":120,"wires":[["9616b28d.62fac","57ef5673.a6ae38"]]},{"id":"c459a1c8.10889","type":"debug","z":"1789985d.2b1c18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":300,"wires":[]},{"id":"b8b0d619.b2c028","type":"function","z":"1789985d.2b1c18","name":"devices","func":"let data = {\n    payload : {\n        heater : 0,\n        vent : 0,\n        shaders: 0,\n        light : 0\n    }\n};\nif (msg.payload.temperature < 20) {\n    data.payload.heater = 1;\n} else {\n    data.payload.heater = 0;\n}\nif (msg.payload.temperature > 30) {\n    data.payload.vent = 1;\n} else {\n    data.payload.vent = 0;\n}\nif (msg.payload.light_intensity > 800) {\n    data.payload.shaders = 1;\n} else {\n    data.payload.shaders = 0;\n}\nif (msg.payload.light_intensity < 300) {\n    data.payload.light = 1;\n} else {\n    data.payload.light = 0;\n}\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":60,"wires":[["976d3bd7.717768","528896fb.585158"]]},{"id":"976d3bd7.717768","type":"mqtt out","z":"1789985d.2b1c18","name":"air conditioning send","topic":"kpi/iot/hackathon2021/greenhouse/ac","qos":"","retain":"","broker":"2460e445.68af4c","x":610,"y":60,"wires":[]},{"id":"528896fb.585158","type":"debug","z":"1789985d.2b1c18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":20,"wires":[]},{"id":"652b7142.3851a","type":"mqtt in","z":"7ffdf7fa.81e658","name":"weather","topic":"kpi/iot/hackathon2021/greenhouse/weather2","qos":"2","datatype":"auto","broker":"2460e445.68af4c","x":200,"y":100,"wires":[["50d95ccf.a46814"]]},{"id":"50d95ccf.a46814","type":"json","z":"7ffdf7fa.81e658","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":100,"wires":[["1b029a5e.c657d6","97de23b8.73a36","d2e2299c.ea04c8","52f084d1.de1d9c","fa4c4fc5.60cea"]]},{"id":"1b029a5e.c657d6","type":"function","z":"7ffdf7fa.81e658","name":"heater","func":"let data = {\n    payload : \"off\",\n};\nif (msg.payload.temperature < 20) {\n    data.payload = \"on\";\n} else {\n    data.payload = \"off\";\n}\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":60,"wires":[["53f8bdbe.f48b64"]]},{"id":"97de23b8.73a36","type":"function","z":"7ffdf7fa.81e658","name":"vent","func":"let data = {\n    payload : \"off\"\n};\nif (msg.payload.temperature > 30) {\n    data.payload = \"on\";\n} else {\n    data.payload = \"off\";\n}\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":120,"wires":[["4f44e917.74e538"]]},{"id":"53f8bdbe.f48b64","type":"mqtt out","z":"7ffdf7fa.81e658","name":"heater send","topic":"kpi/iot/hackathon2021/greenhouse/heater","qos":"","retain":"","broker":"2460e445.68af4c","x":710,"y":60,"wires":[]},{"id":"4f44e917.74e538","type":"mqtt out","z":"7ffdf7fa.81e658","name":"vent send","topic":"kpi/iot/hackathon2021/greenhouse/vent","qos":"","retain":"","broker":"2460e445.68af4c","x":700,"y":120,"wires":[]},{"id":"d2e2299c.ea04c8","type":"function","z":"7ffdf7fa.81e658","name":"temperature","func":"let data = {\n    payload : msg.payload.temperature,\n}\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":180,"wires":[["b5257651.52caf8"]]},{"id":"b5257651.52caf8","type":"mqtt out","z":"7ffdf7fa.81e658","name":"temperature send","topic":"kpi/iot/hackathon2021/greenhouse/temperature","qos":"","retain":"","broker":"2460e445.68af4c","x":730,"y":180,"wires":[]},{"id":"c95a095d.7170a8","type":"function","z":"1789985d.2b1c18","name":"sprinkler","func":"let data = {\n    payload: {\n        sprinkler: 0,\n        plantID: msg.payload.plantID,\n    }\n}\nif (msg.payload.soil_moisture < 10) {\n    data.payload.sprinkler = 1;\n} else {\n    data.payload.sprinkler = 0;\n}\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":480,"wires":[["e1515d3a.7ae71","3642043d.5c46bc"]]},{"id":"e1515d3a.7ae71","type":"mqtt out","z":"1789985d.2b1c18","name":"sprinkler send","topic":"kpi/iot/hackathon2021/greenhouse/pc","qos":"","retain":"","broker":"2460e445.68af4c","x":630,"y":480,"wires":[]},{"id":"3642043d.5c46bc","type":"debug","z":"1789985d.2b1c18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":420,"wires":[]},{"id":"a39c0ae9.7ad4c8","type":"mqtt in","z":"7ffdf7fa.81e658","name":"plants sprinklers","topic":"kpi/iot/hackathon2021/greenhouse/plant2","qos":"2","datatype":"auto","broker":"2460e445.68af4c","x":80,"y":520,"wires":[["7db9bdd1.5239c4"]]},{"id":"7db9bdd1.5239c4","type":"json","z":"7ffdf7fa.81e658","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":520,"wires":[["47d1a334.a1245c","41f80e07.cf082","72b28b17.797fc4","4e373efb.ad0d6","1b6d9850.b4fa48","76574d1a.e7acc4","98bf5779.7f7838","cb8b524a.faf3a","60844ab.72c81b4","2296e7df.089908"]]},{"id":"47d1a334.a1245c","type":"function","z":"7ffdf7fa.81e658","name":"moisture1","func":"let data = {\n    payload : \"off\",\n}\nif (msg.payload.plantID === 1) {\n    if (msg.payload.soil_moisture < 10 ) {\n        data.payload = \"on\";\n    } else {\n        data.payload = \"off\";\n    }\n    return data;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":400,"wires":[["d808291a.cd41d8","3d0a9851.1a5fc8"]]},{"id":"52f084d1.de1d9c","type":"function","z":"7ffdf7fa.81e658","name":"water","func":"let data = {\n    payload : msg.payload.water_amount,\n}\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":240,"wires":[["25eb5694.fd106a"]]},{"id":"3d0a9851.1a5fc8","type":"debug","z":"7ffdf7fa.81e658","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":360,"wires":[]},{"id":"25eb5694.fd106a","type":"mqtt out","z":"7ffdf7fa.81e658","name":"water send","topic":"kpi/iot/hackathon2021/greenhouse/water","qos":"","retain":"","broker":"2460e445.68af4c","x":710,"y":240,"wires":[]},{"id":"fa4c4fc5.60cea","type":"function","z":"7ffdf7fa.81e658","name":"shaders","func":"let data = {\n    payload : \"open\",\n}\nif (msg.payload.light_intensity > 800) {\n    data.payload = \"closed\";\n} else {\n    data.payload = \"open\";\n}\nreturn data;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":320,"wires":[["b83ce0cf.7ef"]]},{"id":"b83ce0cf.7ef","type":"mqtt out","z":"7ffdf7fa.81e658","name":"shaders send","topic":"kpi/iot/hackathon2021/greenhouse/shader","qos":"","retain":"","broker":"2460e445.68af4c","x":720,"y":320,"wires":[]},{"id":"41f80e07.cf082","type":"function","z":"7ffdf7fa.81e658","name":"moisture2","func":"let data = {\n    payload : \"off\",\n}\nif (msg.payload.plantID === 2) {\n    if (msg.payload.soil_moisture < 10 ) {\n        data.payload = \"on\";\n    } else {\n        data.payload = \"off\";\n    }\n    return data;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":440,"wires":[["72aff764.219f68"]]},{"id":"72b28b17.797fc4","type":"function","z":"7ffdf7fa.81e658","name":"moisture3","func":"let data = {\n    payload : \"off\",\n}\nif (msg.payload.plantID === 3) {\n    if (msg.payload.soil_moisture < 10 ) {\n        data.payload = \"on\";\n    } else {\n        data.payload = \"off\";\n    }\n    return data;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":480,"wires":[["d7513afc.161258"]]},{"id":"4e373efb.ad0d6","type":"function","z":"7ffdf7fa.81e658","name":"moisture4","func":"let data = {\n    payload : \"off\",\n}\nif (msg.payload.plantID === 4) {\n    if (msg.payload.soil_moisture < 10 ) {\n        data.payload = \"on\";\n    } else {\n        data.payload = \"off\";\n    }\n    return data;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":520,"wires":[["c0b4faca.d41638"]]},{"id":"1b6d9850.b4fa48","type":"function","z":"7ffdf7fa.81e658","name":"moisture5","func":"let data = {\n    payload : \"off\",\n}\nif (msg.payload.plantID === 5) {\n    if (msg.payload.soil_moisture < 10 ) {\n        data.payload = \"on\";\n    } else {\n        data.payload = \"off\";\n    }\n    return data;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":560,"wires":[["1e5bfc14.5e13c4"]]},{"id":"d808291a.cd41d8","type":"mqtt out","z":"7ffdf7fa.81e658","name":"shaders send","topic":"kpi/iot/hackathon2021/greenhouse/sprinkler1","qos":"","retain":"","broker":"2460e445.68af4c","x":680,"y":400,"wires":[]},{"id":"72aff764.219f68","type":"mqtt out","z":"7ffdf7fa.81e658","name":"shaders send","topic":"kpi/iot/hackathon2021/greenhouse/sprinkler2","qos":"","retain":"","broker":"2460e445.68af4c","x":680,"y":440,"wires":[]},{"id":"d7513afc.161258","type":"mqtt out","z":"7ffdf7fa.81e658","name":"shaders send","topic":"kpi/iot/hackathon2021/greenhouse/sprinkler3","qos":"","retain":"","broker":"2460e445.68af4c","x":680,"y":480,"wires":[]},{"id":"c0b4faca.d41638","type":"mqtt out","z":"7ffdf7fa.81e658","name":"shaders send","topic":"kpi/iot/hackathon2021/greenhouse/sprinkler4","qos":"","retain":"","broker":"2460e445.68af4c","x":680,"y":520,"wires":[]},{"id":"1e5bfc14.5e13c4","type":"mqtt out","z":"7ffdf7fa.81e658","name":"shaders send","topic":"kpi/iot/hackathon2021/greenhouse/sprinkler5","qos":"","retain":"","broker":"2460e445.68af4c","x":680,"y":560,"wires":[]},{"id":"ce31ae21.ef5d6","type":"influxdb out","z":"1789985d.2b1c18","influxdb":"145e430e.dfc88d","name":"","measurement":"plants","precision":"","retentionPolicy":"","database":"db","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":520,"y":380,"wires":[]},{"id":"9616b28d.62fac","type":"influxdb out","z":"1789985d.2b1c18","influxdb":"145e430e.dfc88d","name":"","measurement":"global","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":160,"wires":[]},{"id":"ce048f2c.797ad","type":"mqtt in","z":"7ffdf7fa.81e658","name":"plants pH","topic":"kpi/iot/hackathon2021/greenhouse/plant2","qos":"2","datatype":"auto","broker":"2460e445.68af4c","x":80,"y":900,"wires":[["a6e651fe.419a7"]]},{"id":"a6e651fe.419a7","type":"json","z":"7ffdf7fa.81e658","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":900,"wires":[["f788bd3e.dd26a","79ed5651.8d36d8","729313fa.7aec5c","8d90cd0e.4f893","a139feb.1669d","1a7e27ce.b04938","2ed0f28f.b1fcae","ded053d5.1e694","cf8ef27f.4cc73","ab238d75.4f24f"]]},{"id":"f788bd3e.dd26a","type":"function","z":"7ffdf7fa.81e658","name":"pH1","func":"let data = {\n    payload : 6,\n}\nif (msg.payload.plantID === 1) {\n    data.payload = msg.payload.soil_pH\n    return data;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":820,"wires":[["a8705860.3e2298"]]},{"id":"79ed5651.8d36d8","type":"function","z":"7ffdf7fa.81e658","name":"ph2","func":"let data = {\n    payload : 6,\n}\nif (msg.payload.plantID === 2) {\n    data.payload = msg.payload.soil_pH\n    return data;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":860,"wires":[["dbeb07bc.7378c8"]]},{"id":"729313fa.7aec5c","type":"function","z":"7ffdf7fa.81e658","name":"pH3","func":"let data = {\n    payload : 6,\n}\nif (msg.payload.plantID === 3) {\n    data.payload = msg.payload.soil_pH\n    return data;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":900,"wires":[["9a118f04.683f2"]]},{"id":"8d90cd0e.4f893","type":"function","z":"7ffdf7fa.81e658","name":"pH4","func":"let data = {\n    payload : 6,\n}\nif (msg.payload.plantID === 4) {\n    data.payload = msg.payload.soil_pH\n    return data;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":940,"wires":[["2a6318d8.08fe48"]]},{"id":"a139feb.1669d","type":"function","z":"7ffdf7fa.81e658","name":"pH5","func":"let data = {\n    payload : 6,\n}\nif (msg.payload.plantID === 5) {\n    data.payload = msg.payload.soil_pH\n    return data;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":980,"wires":[["a0b08c21.e3d6f"]]},{"id":"a8705860.3e2298","type":"mqtt out","z":"7ffdf7fa.81e658","name":"flower pH send","topic":"kpi/iot/hackathon2021/greenhouse/flower_pH1","qos":"","retain":"","broker":"2460e445.68af4c","x":660,"y":820,"wires":[]},{"id":"dbeb07bc.7378c8","type":"mqtt out","z":"7ffdf7fa.81e658","name":"flower pH send","topic":"kpi/iot/hackathon2021/greenhouse/flower_pH2","qos":"","retain":"","broker":"2460e445.68af4c","x":660,"y":860,"wires":[]},{"id":"9a118f04.683f2","type":"mqtt out","z":"7ffdf7fa.81e658","name":"flower pH send","topic":"kpi/iot/hackathon2021/greenhouse/flower_pH3","qos":"","retain":"","broker":"2460e445.68af4c","x":660,"y":900,"wires":[]},{"id":"2a6318d8.08fe48","type":"mqtt out","z":"7ffdf7fa.81e658","name":"flower pH send","topic":"kpi/iot/hackathon2021/greenhouse/flower_pH4","qos":"","retain":"","broker":"2460e445.68af4c","x":660,"y":940,"wires":[]},{"id":"a0b08c21.e3d6f","type":"mqtt out","z":"7ffdf7fa.81e658","name":"flower pH send","topic":"kpi/iot/hackathon2021/greenhouse/flower_pH5","qos":"","retain":"","broker":"2460e445.68af4c","x":660,"y":980,"wires":[]},{"id":"d8371ce4.32225","type":"mqtt in","z":"1789985d.2b1c18","name":"light in","topic":"kpi/iot/hackathon2021/greenhouse/light","qos":"2","datatype":"auto","broker":"2460e445.68af4c","x":160,"y":580,"wires":[["71f103f7.68bdcc"]]},{"id":"71f103f7.68bdcc","type":"debug","z":"1789985d.2b1c18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":580,"wires":[]},{"id":"76574d1a.e7acc4","type":"function","z":"7ffdf7fa.81e658","name":"moisture6","func":"let data = {\n    payload : \"off\",\n}\nif (msg.payload.plantID === 6) {\n    if (msg.payload.soil_moisture < 10 ) {\n        data.payload = \"on\";\n    } else {\n        data.payload = \"off\";\n    }\n    return data;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":600,"wires":[["528e5eec.cf515"]]},{"id":"98bf5779.7f7838","type":"function","z":"7ffdf7fa.81e658","name":"moisture7","func":"let data = {\n    payload : \"off\",\n}\nif (msg.payload.plantID === 7) {\n    if (msg.payload.soil_moisture < 10 ) {\n        data.payload = \"on\";\n    } else {\n        data.payload = \"off\";\n    }\n    return data;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":640,"wires":[["4600786c.ebf208"]]},{"id":"cb8b524a.faf3a","type":"function","z":"7ffdf7fa.81e658","name":"moisture8","func":"let data = {\n    payload : \"off\",\n}\nif (msg.payload.plantID === 8) {\n    if (msg.payload.soil_moisture < 10 ) {\n        data.payload = \"on\";\n    } else {\n        data.payload = \"off\";\n    }\n    return data;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":680,"wires":[["656e80e4.5be9e"]]},{"id":"60844ab.72c81b4","type":"function","z":"7ffdf7fa.81e658","name":"moisture9","func":"let data = {\n    payload : \"off\",\n}\nif (msg.payload.plantID === 9) {\n    if (msg.payload.soil_moisture < 10 ) {\n        data.payload = \"on\";\n    } else {\n        data.payload = \"off\";\n    }\n    return data;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":720,"wires":[["3f81e43a.9e984c"]]},{"id":"2296e7df.089908","type":"function","z":"7ffdf7fa.81e658","name":"moisture10","func":"let data = {\n    payload : \"off\",\n}\nif (msg.payload.plantID === 10) {\n    if (msg.payload.soil_moisture < 10 ) {\n        data.payload = \"on\";\n    } else {\n        data.payload = \"off\";\n    }\n    return data;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":760,"wires":[["15817c9f.c6e8f3"]]},{"id":"528e5eec.cf515","type":"mqtt out","z":"7ffdf7fa.81e658","name":"shaders send","topic":"kpi/iot/hackathon2021/greenhouse/sprinkler6","qos":"","retain":"","broker":"2460e445.68af4c","x":680,"y":600,"wires":[]},{"id":"4600786c.ebf208","type":"mqtt out","z":"7ffdf7fa.81e658","name":"shaders send","topic":"kpi/iot/hackathon2021/greenhouse/sprinkler7","qos":"","retain":"","broker":"2460e445.68af4c","x":680,"y":640,"wires":[]},{"id":"656e80e4.5be9e","type":"mqtt out","z":"7ffdf7fa.81e658","name":"shaders send","topic":"kpi/iot/hackathon2021/greenhouse/sprinkler8","qos":"","retain":"","broker":"2460e445.68af4c","x":680,"y":680,"wires":[]},{"id":"3f81e43a.9e984c","type":"mqtt out","z":"7ffdf7fa.81e658","name":"shaders send","topic":"kpi/iot/hackathon2021/greenhouse/sprinkler9","qos":"","retain":"","broker":"2460e445.68af4c","x":680,"y":720,"wires":[]},{"id":"15817c9f.c6e8f3","type":"mqtt out","z":"7ffdf7fa.81e658","name":"shaders send","topic":"kpi/iot/hackathon2021/greenhouse/sprinkler10","qos":"","retain":"","broker":"2460e445.68af4c","x":680,"y":760,"wires":[]},{"id":"1a7e27ce.b04938","type":"function","z":"7ffdf7fa.81e658","name":"pH6","func":"let data = {\n    payload : 6,\n}\nif (msg.payload.plantID === 6) {\n    data.payload = msg.payload.soil_pH\n    return data;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1020,"wires":[["5194ae6b.22318"]]},{"id":"2ed0f28f.b1fcae","type":"function","z":"7ffdf7fa.81e658","name":"ph7","func":"let data = {\n    payload : 6,\n}\nif (msg.payload.plantID === 7) {\n    data.payload = msg.payload.soil_pH\n    return data;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1060,"wires":[["b3ebd893.0521a8"]]},{"id":"ded053d5.1e694","type":"function","z":"7ffdf7fa.81e658","name":"pH8","func":"let data = {\n    payload : 6,\n}\nif (msg.payload.plantID === 8) {\n    data.payload = msg.payload.soil_pH\n    return data;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1100,"wires":[["7f4e3cc.0fd35c4"]]},{"id":"cf8ef27f.4cc73","type":"function","z":"7ffdf7fa.81e658","name":"pH9","func":"let data = {\n    payload : 6,\n}\nif (msg.payload.plantID === 9) {\n    data.payload = msg.payload.soil_pH\n    return data;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1140,"wires":[["ae9a0a35.5c3cb8"]]},{"id":"ab238d75.4f24f","type":"function","z":"7ffdf7fa.81e658","name":"pH10","func":"let data = {\n    payload : 6,\n}\nif (msg.payload.plantID === 10) {\n    data.payload = msg.payload.soil_pH\n    return data;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1180,"wires":[["46cfebdf.fbdd84"]]},{"id":"5194ae6b.22318","type":"mqtt out","z":"7ffdf7fa.81e658","name":"flower pH send","topic":"kpi/iot/hackathon2021/greenhouse/flower_pH6","qos":"","retain":"","broker":"2460e445.68af4c","x":660,"y":1020,"wires":[]},{"id":"b3ebd893.0521a8","type":"mqtt out","z":"7ffdf7fa.81e658","name":"flower pH send","topic":"kpi/iot/hackathon2021/greenhouse/flower_pH7","qos":"","retain":"","broker":"2460e445.68af4c","x":660,"y":1060,"wires":[]},{"id":"7f4e3cc.0fd35c4","type":"mqtt out","z":"7ffdf7fa.81e658","name":"flower pH send","topic":"kpi/iot/hackathon2021/greenhouse/flower_pH8","qos":"","retain":"","broker":"2460e445.68af4c","x":660,"y":1100,"wires":[]},{"id":"ae9a0a35.5c3cb8","type":"mqtt out","z":"7ffdf7fa.81e658","name":"flower pH send","topic":"kpi/iot/hackathon2021/greenhouse/flower_pH9","qos":"","retain":"","broker":"2460e445.68af4c","x":660,"y":1140,"wires":[]},{"id":"46cfebdf.fbdd84","type":"mqtt out","z":"7ffdf7fa.81e658","name":"flower pH send","topic":"kpi/iot/hackathon2021/greenhouse/flower_pH10","qos":"","retain":"","broker":"2460e445.68af4c","x":660,"y":1180,"wires":[]}]